@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Titlt = "Welcome";
}
<div class="templatemo-content-widget white-bg">
    <div class="panel panel-default no-border">
        <div class="panel-heading border-radius-10">
            <h2>Welcome</h2>
        </div>
        <div class="panel-body" id="app">
            <div style="" class="home_parent row form-group">
                <div class="border-radius-10 homeindex">
                    <h2>Welcome环境配置</h2>
                </div>
            </div>
        </div>
    </div>
</div>

