<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="clientConfig" type="Disconf.Net.Client.ClientConfigSection, Disconf.Net.Client"/>
  </configSections>
  <appSettings file="appSettings.config" />
  <clientConfig configSource="clientConfig.config" />
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>