<?xml version="1.0" encoding="utf-8" ?>
<clientConfig webApiHost="http://192.168.1.97:8088/" enableRemote="true">
  <clientInfo appName="ConsoleTests" environment="DEV" version="1.0.0.0" clientName="Console_1" />
  <updateStrategy fileIgnores="" itemIgnores="" startedSync="true" retryTimes="3" retryIntervalSeconds="10" />
  <preservation absolutePath="false" tmpRootDirectory="Tmp\Download\Configs" factRootDirectory="" tmpItemsLocalName="~items.xml" tmpFilesLocalName="~files.txt"/>
</clientConfig>